                                                               /* GLOBAL */
/* GLOBALL */

html{
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after{
     box-sizing:border-box;
}

body{
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: var(--white-color);
     color: var(--text-color);
     font-family: "Arial", sans-serif;
     font-size: 16px;
     line-height: 1.5;
}

img{
     max-width: 100%;
     height: auto;
}
/* ROOT */
:root{
     --button-color: #de2e54;
     --text-color: #222;
     --white-color: #fff;
     --font-family: "Open Sans Condensed" ,"Open Sans" ,"Arial" , sans-serif;
}


*:focus{
     outline: 2px dotted var(--button-color);
     outline-offset: 2px;
     border-radius: 6px;
     /* CONTAINER  */
}
                                                                /* CONTAINER */
.container{
     width: 100%;
     max-width: 1160px;
     padding-left: 30px;
     padding-right: 30px;
     margin-right: auto;
     margin-left: auto;
}

                                                                   /* SITE HEADER */
.site-header-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
                                                                      /* SITE LOGO */
.site-header{
     padding: 24px 0;
}
.site-logo{
     display: flex;
     text-decoration: none;
     align-items: center;
     color: var(--text-color);
     font-size: 24px;
     font-weight: 600;
     transition: 0.5s ease;

}
.site-logo:hover{
     color: var(--button-color);
}
.site-logo:active{
     opacity: 0.6;
}
.site-logo-img{
     margin-right: 16px;
     border-radius: 50%;
}

                                                                /* SITENAV */
.sitenav{
     font-size: 14px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
     text-decoration: none;

}
.sitenav-list{
     display: flex;
     align-items: center;
     padding: 0;
     margin: 0;
     list-style: none;


}
.sitenav-item:not(:last-child){
     margin-right: 32px;
}
.sitenav-link{
     display: block;
     text-decoration: none;
     color: var(--text-color);
     transition: 0.5s ease;
}
.sitenav-link:hover{
     color: var(--button-color);
}
.sitenav-link:active{
     opacity: 0.6;
}
                                                                /* MAIN LINK  */
.main-link{
     display: inline-block;
     font-family: var(--font-family);
     font-size: 15px;
     border: 2px solid var(--button-color);
     padding: 10px 22px;
     border-radius: 8px;
     letter-spacing: 2px;
     background-color: var(--button-color);
     color: var(--white-color);
     text-decoration: none;
     text-transform: uppercase;
     transition: 0.5s ease;
}
.main-link:hover{

     background-color: var(--white-color);
     color: var(--button-color);
}
.main-link:active{
     background-color: var(--button-color);
     color: var(--white-color);
     opacity: 0.6;
}
                                                           /* MAIN SECTION */
.hero{
     background-color: #0eb4c1;
     color: var(--white-color);
}
.hero-content{
     padding: 120px 0;
     width: 500px;
}
.hero-heading{
     margin-top: 0;
     font-family: "Open Sans Condensed", "Open Sans",  "Arial" , sans-serif;
     font-size: 29px;
     line-height: 1.2;
     margin-bottom: 16px;
}
.hero-text{
     width: 440px;
     margin-top: 0;
     margin-bottom: 36px;
}
.main-link-solid:hover{
     border-color: transparent;
     background-color: rgba(222, 46, 84, 0.8);
     color: var(--white-color);
}
.main-link-solid:active{
     background-color: rgba(222, 46, 84, 0.6);
     opacity: 1;
}
.hero-container{
     display: flex;
     justify-content: space-between;
}
.hero-img{
     align-self: flex-end;
}
                                                          /* INDEX SERVICES */
.index-services{
     padding: 120px 0;
}
.index-services-heading{
     margin-top: 0;
     margin-bottom: 56px;
     text-align: center;
     font-family: "Open Sans Condensed" ,"Open Sans" ,"Arial" , sans-serif;
     font-size: 36px;
     line-height: 1.2;
     color: #000;
}
.index-services-list {
     width: 864px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 60px;
     padding-left: 100px;
     margin: 0;
     list-style: none;
}
.index-services-item:not( :last-child ){
     margin-bottom: 80px;
}
.index-service{
     display: flex;
     align-items: center;
}
.index-sevice-img{
     border-radius: 24px;
     width: 200px;
     height: 200px;
     object-fit: cover;
     margin-right: 64px;
     box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}
.index-service-content{
     width: 600px;
}
.index-service-title{
     margin-top: 0 ;
     margin-bottom: 24px;
     color: var(--text-color);
}
.index-service-description{
     color: #444;
     margin: 0 ;
}
.index-sevices-actions{
     display: flex;
     justify-content: center;
     padding-top: 60px;
}

                                                         /* INDEX CTA */
.cta{
     padding-top: 64px;
     padding-bottom: 64px;
     background-color: #0eb4c1;
     color: var(--white-color);
     font-family: var(--font-family);
     font-size: 20px;
     line-height: 43.2px;
}
.cta-links{
     display: flex;
     justify-content: center;
     align-items: center;
}
.cta-links-item:not(:last-child){
     margin-right: 40px;
}
.main-link-outline{
     background-color: transparent;
     color: var(--white-color);
     border-color: var(--white-color);
}
.main-link-outline:hover{
     border-color: transparent;
     background-color: var(--button-color);
     color: var(--white-color);
}
.cta-heading{
     text-align: center;
     margin-top: 0;
     margin-bottom: 40px;
}

                                                           /* SITE FOOTER */
.site-footer{
     padding: 24px 0;
     background-color: var(--text-color);
     color: var(--white-color);

}
.site-footer-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.site-logo-site-footer{
     color: var(--white-color);
}
.site-logo-site-footer:active {
     color: var(--white-color);
}
.sitenav-site-footer .sitenav-link{
     color: var(--white-color);
}
.sitenav-site-footer .sitenav-link:hover{
     color: var(--button-color);
}
.sitenav-site-footer .sitenav-link:active{
     color: var(--white-color);
     opacity: 0.6;
}